* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/OmniManThink.jpg");
  overflow-y: hidden;
  font-family: Nunito, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
}

.all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container p:first-child {
  font-size: 6.5em;
  font-family: Nunito, sans-serif;
  -webkit-text-stroke: 2px black;
  color: white;
}

#score {
  font-size: 50px;
  font-family: Nunito, sans-serif;
  -webkit-text-stroke: 2px black;
  color: white;
}

.link {
  color: white;
  margin-left: 20px;
  font-size: 20px;
  font-family: Nunito, sans-serif;
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
}

#music {
  display: flex;
  flex-direction: column;
}

#music a {
  margin: 0 auto;
  font-size: 20px;
  color: white;
  font-family: Nunito, sans-serif;
  word-break: normal;
}

.twerk {
  cursor: pointer;
}

button {
  margin-top: 4%;
  font-size: 25px;
  background-color: white;
  padding: 10px 250px 10px 250px;
  border: none;
  outline: none;
}
.tabs {
  position: absolute;
  bottom: 0;
  right:50%;
  transform: translateX(50%);
  margin-top: 4%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  /* display:none; */
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
label {
  word-spacing: 1cm;
}
.tab-label {
  word-spacing: 50px;
  display: -webkit-box;
  color: black;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em 3em 1em 3em;
  background: white;
  font-weight: bold;
  cursor: pointer;
}
.tab-label::after {
  content: "\02C4";
  margin-left: 10px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.tab-content {
  color: black;
  background: white;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  display: none;
}
/* input:checked + .tab-label::after {
  content: "\02C5";
}
input:checked ~ .tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32%;
  overflow-y: scroll;
  max-height: 55%;
  font-size: 20px;
  padding: 50px 20px 20px 20px;
  border-radius: 15px;
} */
table{
  width: 100%;
  font-size:20px;
}
table {
  border-collapse: collapse;
}
tr.bordered {
  border-bottom: 1px solid silver;
  white-space: nowrap;
  width:100%;
}
tr.bordered > td {
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

tr.bordered > #wide_score{
  padding-left: 17em;
  text-align: right;
  padding-right: 2em
}

/* @media only screen and (max-width: 480px) {
  # {
    width: 450px;
    margin-top: -13%;
  }

  
  h1 {
    font-size: 4em;
    margin-bottom: -20%;
  }
  img {
    height: 500px;
  }
  html {
    overflow-y: hidden;
  }
  body {
    overflow: hidden;
  }
  .tabs {
    font-size: 35px;
    margin-top: 5%;
    margin-right: 25%;
  }
  .tab-label {
    white-space: nowrap;
  }
  tr.bordered {
    font-size: 20px;
  }
  tr.bordered > #wide_score {
    padding-right: 0px;
  }
  .tab-content {
    margin-top: 10%;
    left: 10%;
    overflow-y: scroll;
  }
  .tab-content td {
    font-size: 10px;
  }
} */

